

.root {
    -fx-text-fill: #fefcff; // bluish light grey
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
}

.look_and_feel_general {
    -fx-background-color: #1a1f2c; // bluish super dark grey
}

.my_button {
    -fx-text-fill: #fefcff;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #1a1f2c;
    -fx-padding: 0 2 0 2;
}
.my_button:hover {
  -fx-background-color: #606060;
}

.my_button_highlight {
    -fx-text-fill: #fefcff;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #606060;
    -fx-padding: 0 2 0 2;
}
.my_button_highlight:hover {
    -fx-text-fill: blue;
}


.my_button_with_border{
    -fx-text-fill: #fefcff;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #1a1f2c;
    -fx-padding: 0 2 0 2;

    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.my_button_with_border:hover {
  -fx-background-color: #606060;
}



.my_context_menu {
    -fx-background: #1a1f2c;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu > .label {
    -fx-text-fill: #fefcff;
}
.my_context_menu:focused {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:focused > .label {
    -fx-text-fill: #fefcff;
}
.my_context_menu:hover {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:hover > .label {
    -fx-text-fill: #fefcff;
}
.my_context_menu:selected {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:selected > .label {
    -fx-text-fill: #fefcff;
}


.image-window {
    -fx-text-fill: #fefcff	; 
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    //-fx-alignment: center;
    -fx-background-color: #1a1f2c;
    //-fx-padding: -1 -1 -1 -1;
}



.check-box .box {
-fx-text-fill: #fefcff	; 
-fx-background-color: #1a1f2c;
-fx-border-color:white;
-fx-border-radius:3px;
-fx-mark-color:green;

}

.check-box:selected .mark {
-fx-text-fill: #fefcff	; 
-fx-background-color: #1a1f2c;
-fx-mark-color:green;
}

.check-box:selected .box {

-fx-text-fill: #fefcff	; 
-fx-background-color: white;
}

.check-menu-item:checked
{
    -fx-mark-color:white;
}


.look_and_feel_drag {
    -fx-background-color: #88ffff; // light blue
}



.look_and_feel_all_files {
    -fx-background-color: red;
}


.look_and_feel_all_dirs {
    -fx-background-color: blue;
}

.look_and_feel_image_playlist {
    -fx-background-color: pink;
}


my_dialog{
    -fx-background-color: #1a1f2c;
    -fx-text-fill: white;
    -fx-border-color: white;
}
.my_dialog > *.button-bar > *.container{
    -fx-background-color: #1a1f2c;
    -fx-text-fill: white;
    -fx-border-color: white;
}
.my_dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #1a1f2c;
    -fx-border-color: white;
}
.my_dialog:header *.header-panel{
    -fx-background-color: #1a1f2c;
    -fx-text-fill: white;
    -fx-border-color: white;
}
.my_dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-background-color: #1a1f2c;
    -fx-text-fill: white;
    -fx-border-color: white;
}

/* make the arrow size follow the font, for context menus */
.context-menu .menu > .right-container > .arrow {
    -fx-scale-shape: true;

    /* 2. Define the size using 'em' so it scales with font size.
       Format: top right bottom left.
       Increase these numbers to make the arrow larger relative to text. */
    -fx-padding: 0.4em 0.25em 0.4em 0.25em;
    -fx-background-color: white;
}
