/*

tips:

https://jojorabbitjavafxblog.wordpress.com/2011/07/11/javafx-2-0-css-styling-part-1/

documentation:

https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#shape

https://www.w3.org/TR/CSS/#css

-fx-alignment	[ top-left | top-center | top-right | center-left | center | center-right bottom-left | bottom-center | bottom-right | baseline-left | baseline-center | baseline-right ]	center-left	 

-fx-text-alignment	[ left | center | right | justify ]	left	text-align from CSS spec maps to textAlignment in JavaFX

-fx-text-overrun	[ center-ellipsis | center-word-ellipsis | clip | ellipsis | leading-ellipsis | leading-word-ellipsis | word-ellipsis ]	ellipsis	 

-fx-wrap-text	<boolean>	false	 

-fx-font	<font>	platform dependent	inherits : The initial value is that of Font.getDefault()
-fx-underline	<boolean>	false	 

-fx-graphic	<uri>	null	 

-fx-content-display	[ top | right | bottom | left | center | right | graphic-only | text-only ]	left	 

-fx-graphic-text-gap	<size>	4	 

-fx-label-padding	<size> | <size> <size> <size> <size>	[0,0,0,0]	 

-fx-text-fill	<paint>	black	 

-fx-ellipsis-string	<string>	...	 

for transparent icons:

https://www.hiclipart.com/free-transparent-background-png-clipart-qjpcc
*/


.root {
    -fx-text-fill: #404040; 
    -fx-font-size: 18px;
}
.look_and_feel_general {
    //-fx-padding: -1 -1 -1 -1;
    -fx-background-color: white;
    -fx-opacity	: 1;
}

.my_button {
    -fx-font:20 Helvetica; 
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: white;
    -fx-padding: 0 2 0 2;
}
.my_button:hover {
  -fx-background-color: #efefef; 
  -fx-text-fill: #404040; 
}


.my_button_highlight {
  -fx-text-fill: #404040;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #ababab; // darker grey
    -fx-padding: 0 2 0 2;
}
.my_button_highlight:hover {
  -fx-text-fill: blue;
}



.my_button_with_border {
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: white;
    -fx-padding: 0 2 0 2;
    
    -fx-border-color: #404040;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    
}
.my_button_with_border:hover {
  -fx-background-color: #a1a1a1;
  -fx-text-fill: #404040; 
}

.my_context_menu {
    //-fx-alignment: top-left;
    -fx-background: white;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
    -fx-text-fill: #404040; 
}
.my_context_menu:focused {
    -fx-background: #efefef;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:focused > .label {
    -fx-text-fill: black; 
}
.my_context_menu:hover {
    -fx-background: #efefef;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:hover > .label {
    -fx-text-fill: black; 
}
.my_context_menu:selected {
    -fx-background: #efefef;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:selected > .label {
    -fx-text-fill: black; 
}

.image-window {
    -fx-font:20 Helvetica; 
    -fx-font-weight: bold;
    //-fx-alignment: center;
    -fx-background-color: white;
    //-fx-padding: -1 -1 -1 -1;
}




.check-box .box {
-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;
-fx-mark-color:blue;
}

.check-box:selected .mark {
-fx-background-color: white;
-fx-mark-color:red;
}

.check-box:selected .box {
-fx-background-color: blue;
}


.look_and_feel_drag {
-fx-background-color: #88ffff; // light blue
}

.look_and_feel_all_files {
-fx-background-color: #ffffaa; // light yellow
}


.look_and_feel_all_dirs {
-fx-background-color: #aaffff; // light blue
}


.look_and_feel_image_playlist {
-fx-background-color: pink;
}


my_dialog{
-fx-background-color: white;
}
.my_dialog > *.button-bar > *.container{
-fx-background-color: white;
}
.my_dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.my_dialog:header *.header-panel{
    -fx-background-color: white;
}
.my_dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #404040; // dark grey
}
