/*

tips:

https://jojorabbitjavafxblog.wordpress.com/2011/07/11/javafx-2-0-css-styling-part-1/

documentation:

https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#shape

https://www.w3.org/TR/CSS/#css

-fx-alignment   [ top-left | top-center | top-right | center-left | center | center-right bottom-left | bottom-center | bottom-right | baseline-left | baseline-center | baseline-right ]  center-left

-fx-text-alignment  [ left | center | right | justify ]    left   text-align from CSS spec maps to textAlignment in JavaFX

-fx-text-overrun    [ center-ellipsis | center-word-ellipsis | clip | ellipsis | leading-ellipsis | leading-word-ellipsis | word-ellipsis ]    ellipsis

-fx-wrap-text   <boolean>  false

-fx-font    <font> platform dependent inherits : The initial value is that of Font.getDefault()
-fx-underline   <boolean>  false

-fx-graphic <uri>  null

-fx-content-display [ top | right | bottom | left | center | right | graphic-only | text-only ]    left

-fx-graphic-text-gap    <size> 4

-fx-label-padding   <size> | <size> <size> <size> <size>   [0,0,0,0]

-fx-text-fill   <paint>    black

-fx-ellipsis-string <string>   ...

*/


.root {
    -fx-text-fill: #404040;
    -fx-font-size: 24px;
}
.look_and_feel_general {
    -fx-background-color: white;
    -fx-opacity : 1;
}

.my_button {
    -fx-font-size:24px ;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: white;
    -fx-padding: 0 2 0 2;
}
.my_button:hover {
    -fx-background-color: #efefef;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #404040;
}


.my_button_highlight {
    -fx-text-fill: #404040;
    -fx-font-size:24px ;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #ababab;
    -fx-padding: 0 2 0 2;
}
.my_button_highlight:hover {
    -fx-text-fill: orange;
}



.my_button_with_border {
    -fx-font-size:24px ;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: white;
    -fx-padding: 0 2 0 2;

    -fx-border-color: #404040;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

}
.my_button_with_border:hover {
    -fx-background-color: #efefef;
    -fx-border-color: #404040;
    -fx-text-fill: #404040;
}

.my_context_menu {
    -fx-background: white;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
    -fx-text-fill: #404040;
}
.my_context_menu:focused {
    -fx-background: #efefef;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:focused > .label {
    -fx-text-fill: black;
}

.menu-item:hover,
.my_context_menu:hover {
    -fx-background-color: #efefef;
    -fx-border-color: orange transparent transparent transparent;
    -fx-border-width: 0 0 0 3;
}
.my_context_menu:hover > .label {
    -fx-text-fill: black;
}
.my_context_menu:selected {
    -fx-background: #efefef;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:selected > .label {
    -fx-text-fill: black;
}

.image-window {
    -fx-font-size:24px ;
    -fx-font-weight: bold;
    -fx-background-color: white;
}



.look_and_feel_drag {
    -fx-background-color: #88ffff;
}

.look_and_feel_all_files {
    -fx-background-color: #ffffaa;
}


.look_and_feel_all_dirs {
    -fx-background-color: #aaffff;
}


.look_and_feel_image_playlist {
    -fx-background-color: pink;
}


.my_dialog{
    -fx-background-color: white;
}
.my_dialog > *.button-bar > *.container{
    -fx-background-color: white;
}
.my_dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.my_dialog:header *.header-panel{
    -fx-background-color: white;
}
.my_dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #404040;
}

.my_dialog .button:hover {
    -fx-background-color: #efefef;
    -fx-border-color: #888888;
}



/* make the arrow size follow the font, for context menus */
.context-menu .menu > .right-container > .arrow
{
    -fx-scale-shape: true;

    /* 2. Define the size using 'em' so it scales with font size.
       Format: top right bottom left.
       Increase these numbers to make the arrow larger relative to text. */
    -fx-padding: 0.4em 0.25em 0.4em 0.25em;
    -fx-background-color: black;
}

.context-menu .menu:hover > .right-container > .arrow {
    -fx-background-color: orange;
}

/* ============ CHECKBOX STYLING ============ */
.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box .mark {
    -fx-background-color: transparent;
}

.check-box:hover .box {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #888888;
}

.check-box:hover .mark {
    -fx-background-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: blue;
    -fx-border-color: blue;
}

.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected:hover .box,
.check-box:hover:selected .box {
    -fx-background-color: orange, orange;
    -fx-background-insets: 0, 1;
    -fx-border-color: orange;
}

.check-box:selected:hover .mark,
.check-box:hover:selected .mark {
    -fx-background-color: white;
}

/* ============ END CHECKBOX ============ */


/* ============ CHECK MENU ITEM STYLING (for menus) ============ */

/* The checkmark area */

.check-menu-item .left-container {
    -fx-padding: 0 8 0 0;
    -fx-min-width: 20px;
    -fx-pref-width: 20px;
}
/* Add gap between checkmark area and the graphic/text */
.check-menu-item {
    -fx-padding: 4 8 4 4;
}



/* Normal state - no checkmark visible */
.check-menu-item:unchecked .left-container .check {
    -fx-background-color: transparent;
}

/* Checked state - show the checkmark */
.check-menu-item:checked .left-container .check {
    -fx-background-color: black;
}

/* Hover on checked item */
.check-menu-item:checked:hover .left-container .check,
.check-menu-item:checked:focused .left-container .check,
.check-menu-item:checked:showing .left-container .check {
    -fx-background-color: black;
}

/* If you want the whole row to change on hover */
.check-menu-item:hover {
    /*-fx-background-color: #efefef;*/
    -fx-background-color: #fff3e0;  /* very light orange */
    -fx-border-color: orange transparent transparent transparent;
    -fx-border-width: 0 0 0 3;
}

.check-menu-item:hover .label {
    -fx-text-fill: black;
}

/* ============ END CHECK MENU ITEM ============ */
.button:focused {
    -fx-border-color: transparent;
    -fx-effect: null;
}

.check-box:focused .box {
    -fx-border-color: orange;
    -fx-effect: dropshadow(gaussian, orange, 4, 0.5, 0, 0);
}
.check-menu-item:focused {
    -fx-border-color: orange transparent transparent transparent;
    -fx-border-width: 0 0 0 3;
}