.root {
-fx-text-fill: #202124;
-fx-font-family: Roboto;
-fx-font-size: 24;
-fx-font-weight: 500;
}

.look_and_feel_general {
-fx-background-color: #F5F5F5;
//-fx-padding: 16px;
//-fx-background-radius: 16px;
-fx-effect: dropshadow(gaussian, #B0BEC5, 8, 0.2, 0, 2);
}
                
.my_button {
-fx-background-color: #90CAF9;
-fx-background-radius: 24px;
-fx-border-radius: 24px;
-fx-alignment: CENTER_LEFT;
-fx-padding: 0 2 0 2;
//-fx-padding: 0 24 0 24;
-fx-effect: dropshadow(gaussian, #B0BEC5, 2, 0.05, 0, 1);
//-fx-effect: dropshadow(gaussian, #B0BEC5, 4, 0.1, 0, 1);
-fx-border-color: #E0E0E0;
-fx-border-width: 1px;
}

.my_button:hover {
-fx-background-color: #1976D2; // Material V3 blue highlight 
-fx-effect: dropshadow(gaussian, #1976D2, 8, 0.2, 0, 2);
-fx-background-radius: 24px;                
}

.my_button_highlight {
-fx-background-color: #9096F9;
-fx-background-radius: 24px;
-fx-border-radius: 24px;
-fx-alignment: CENTER_LEFT;
-fx-padding: 0 24 0 24;
-fx-effect: dropshadow(gaussian, #B0BEC5, 4, 0.1, 0, 1);
-fx-border-color: #E0E0E0;
-fx-border-width: 1px;
-fx-pick-on-bounds:true;
}

.my_button_highlight:hover {
-fx-text-fill: blue;
}


.my_button_with_border {
-fx-background-color: #90CAF9;
-fx-background-radius: 24px;
-fx-border-radius: 24px;
-fx-alignment: CENTER_LEFT;
-fx-padding: 0 24 0 24;
//-fx-effect: dropshadow(gaussian, #B0BEC5, 4, 0.1, 0, 1);
-fx-effect: dropshadow(gaussian, #B0BEC5, 2, 0.05, 0, 1);
-fx-border-color: #E0E0E0;
-fx-border-width: 1px;

-fx-border-color: #404040;
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-radius: 5px;

}

.my_button_with_border:hover {
-fx-background-color: #1976D2; // Material V3 blue highlight
-fx-effect: dropshadow(gaussian, #1976D2, 8, 0.2, 0, 2);
-fx-background-radius: 24px;
}

/*

.menu-item, .list-cell {
-fx-background-color: transparent;
-fx-padding: 8 16 8 16;
}


.menu-item:hover, .list-cell:hover {
-fx-background-color: #E3F2FD;
}

.menu-item:focused, .list-cell:focused {
-fx-background-color: #90CAF9;
}
*/

.my_context_menu {
-fx-background-radius: 12px;
-fx-effect: dropshadow(gaussian, #B0BEC5, 8, 0.2, 0, 2);
}

.my_context_menu > .label {
-fx-text-fill: #202124;
}
.my_context_menu:focused {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:focused > .label {
    -fx-text-fill: #fefcff;
}
.my_context_menu:hover {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:hover > .label {
    -fx-text-fill: #fefcff;
}
.my_context_menu:selected {
    -fx-background: #606060;
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}
.my_context_menu:selected > .label {
    -fx-text-fill: #fefcff;
}


.my_context_menu, .combo-box-popup {
-fx-background-radius: 12px;
-fx-effect: dropshadow(gaussian, #B0BEC5, 8, 0.2, 0, 2);
-fx-padding: 8px;
-fx-border-color: #E0E0E0;
-fx-border-radius: 12px;
-fx-border-width: 1px;
}

// used in set_region_look
.image-window {
//-fx-background-color: #FFFFFF;
-fx-background-radius: 16px;
// dont! -fx-effect: dropshadow(gaussian, #B0BEC5, 8, 0.2, 0, 2);
// a dropshadow here causes the top half of the top button (under the top menu bar) to be insensitive to hovering
}
    
.check-box .box {
//-fx-background-color: #FFFFFF;
-fx-border-color: #B0BEC5;
-fx-border-radius: 6px;
-fx-mark-color: #90CAF9;
-fx-effect: dropshadow(gaussian, #B0BEC5, 2, 0.1, 0, 1);
}
                
.check-box:selected .mark {
//-fx-background-color: #FFFFFF;
 -fx-mark-color: #D32F2F;
}
                
.check-box:selected .box {
-fx-background-color: #90CAF9;
}                

.look_and_feel_drag {
-fx-background-color: #88ffff;
}
                
.look_and_feel_all_files {
-fx-background-color: #1f78ed;
}
                                
.look_and_feel_all_dirs {
-fx-background-color: #aaffff;
}                
                
.look_and_feel_image_playlist {
-fx-background-color: pink;
}
                                
my_dialog{
-fx-background-color: white;
}

.my_dialog > *.button-bar > *.container{
-fx-background-color: white;
}

.my_dialog > *.label.content{

-fx-font-weight: bold;
}

.my_dialog:header *.header-panel{
-fx-background-color: white;
}

.my_dialog:header *.header-panel *.label{

-fx-font-style: italic;
-fx-fill: #404040; // dark grey
}


/* make the arrow size follow the font, for context menus */
.context-menu .menu > .right-container > .arrow {
    -fx-scale-shape: true;

    /* 2. Define the size using 'em' so it scales with font size.
       Format: top right bottom left.
       Increase these numbers to make the arrow larger relative to text. */
    -fx-padding: 0.4em 0.25em 0.4em 0.25em;
    -fx-background-color: black;
}
