.DS_Store
.gradle/*
.idea/*
build/*
gradle/*
target/*
out/*
settings.gradle.old
*.log
out/*
nohup.out
.aider*
*.jfr
/python_for_ML/__pycache__
test.txt
script.txt
script.txt
META-INF/native-image/reachability-metadata.json
*.hprof
