

.look_and_feel_general {
    -fx-text-fill: #fefcff;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #1a1f2c	;
    //-fx-padding: -1 -1 -1 -1;
}

.menu_buttons {
    -fx-text-fill: #fefcff;
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-background-color: #1a1f2c;
    -fx-padding: -1 -1 -1 -1;
}


.image-window {
    -fx-text-fill: #fefcff	; // color of text
    -fx-font:20 Helvetica;
    -fx-font-weight: bold;
    //-fx-alignment: center;
    -fx-background-color: #1a1f2c;
    //-fx-padding: -1 -1 -1 -1;
}

.menu_buttons:hover {
  -fx-background-color: #606060;
}

.context-menu {
    -fx-text-fill: white;
    -fx-background-color: #1a1f2c;
}

.menu-item .label {
    -fx-text-fill: white;
}

.check-menu-item:checked
{
    -fx-mark-color:white;
}


.look_and_feel_drag {
    -fx-background-color: #88ffff;
}



.look_and_feel_all_files {
    -fx-background-color: red;
}


.look_and_feel_all_dirs {
    -fx-background-color: blue;
}